@charset "utf-8";
/* CSS Document */

html,body{height:100%;width:100%;overflow: hidden;}
body{font-family:"Microsoft YaHei",SimHei,Arial , Helvetica, Tahoma;font-size:62.5%;}
body, h1, h2, h3, h4, h5, h6,form{margin: 0px; padding:0px}
h1, h2, h3, h4, h5, h6 { font-weight: normal}
ul { margin:0; padding:0; list-style:none }
li {margin:0; padding:0;}
a {color:#000}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: none;}
img { border:0;}
dl{margin:0; padding:0}
dl dd{margin:0}
.float_left{float:left}
.float_right{float:right}
.clear{clear:both; line-height:0; padding:0; margin:0}

/**移动端**/
/**
 * user-select
 * 禁止用户选择文字或图片，长按图片不弹出菜单条
    none ：禁止用户选中
    text：对用户的选择没有限制
    all：目标元素将整体被选中，也就是说不能只选中一部分，浏览器会自动选中整个元素里的内容。
 */
/**
 * text-size-adjust
 * 设置为none，关闭竖屏切为横屏，自动调整字体大小
 */
html,body{height:100%;width:100%;overflow: hidden;}
body {-webkit-user-select:none;-moz-user-select:none;-o-user-select:none;user-select:none;-webkit-text-size-adjust:none;font-size:62.5%;}
body, h1, h2, h3, h4, h5, h6,form{margin: 0px; padding:0px}
h1, h2, h3, h4, h5, h6 { font-weight: normal}
ul { margin:0; padding:0; list-style:none }
li {margin:0; padding:0;}
a {color:#000}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: underline;}
a:active {text-decoration: none;}
img { border:0;}
dl{margin:0; padding:0}
dl dd{margin:0}
.float_left{float:left}
.float_right{float:right}
.clear{clear:both; line-height:0; padding:0; margin:0}